body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}


/* --- HEADINGS ---- */
h1, h2, h3, h4, h5, h6, .uppercase {
  text-transform: uppercase;
}

.container {
  background-image: url("../images/main-picture-3.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  height: 700px;
}

.container img {
  margin: 0 auto;
}

.headline {
  position:absolute;
  bottom: 50px;
  right:50px;
}

.container nav {
  float: right;
}

.strip {
  /*background-color: rgba(42, 42, 42, 1);*/
  width: 100%;
  height: 50px;
  /*opacity: 0.5;*/
}

.container nav a {
  text-decoration: none;
  text-align: center;
  color: #fdd835;
  display: inline-block;
  /*width: 16.666666667%;*/
  font-size: 14px;
  margin-right: 50px;
  text-align: right;
  margin-top: 17px;
  margin-bottom: 15px;
}

.container nav a:hover {
  color: white ;
}

.half-width-shelfs > .shelf {
  width: 50%;
  float: left;
  height: 500px;
}

.o-mne {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.o-mne p {
  font-size: 14px;
  line-height: 20px;
}

.o-mne hr {
  border: solid 0.25px #eee;
}

.photo {
  background-image: url("../images/working.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.prelozeno {
  height: 650px;
  background-color: rgba(42, 42, 42, 1);
  padding-top: 50px;
  width: 100%;
  display: inline-block;
  position: relative;
}

/*.books-container .arrow {
  display: inline-block;
  margin-top: 200px;
  position: absolute;
  margin-left: 30px;
}*/

.prelozeno h4 {
  text-align: center;
  margin-bottom: 0px;
}

.prelozeno nav a {
  font-size: 14px;
  color: white;
  font-weight: 100;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.prelozeno nav a:hover, .prelozeno nav a.active {
  color: #fdd835;
}

.prelozeno nav {
  text-align: center;
}

.prelozeno span {
  color: #fdd835
}

.prelozeno .books-container {
  display: none;
}

.prelozeno .books-container.active {
  display: block;
}

.prelozeno .books {
  /*position: absolute;*/
  width: 100%;
  text-align: center;
  font-size: 0px;
}

.prelozeno .book {
  width: 170px;
  height: 237px;
  margin-top: 50px;
  display: inline-block;
  position: relative;
}

.prelozeno .book .info {
  width: 170px;
  height: 237px;
  /*margin-top: 50px;*/
  position: absolute;
  font-size: initial;
  width: 100%;
  height: 100%;
  background-size: 100%;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.prelozeno .book .info span {
  color: #fdd835;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  margin-top: 80px;
  display: block;
}

.prelozeno .book:hover .info {
  opacity: 1;
}

.books.no-margin .book {
  margin-top: 0px;
}

.prelozeno .book img {
  max-width: 100%;
}

.news {
  /*display: block;*/
  width: 100%;
  height: 500px;
  padding-top: 50px;
}

.news h4 {
  text-align: center;
  margin-bottom: 0px;
  line-height: 29px;
}

.news .cards {
  text-align: center;
  width: 100%;
}
.news .cards .left-arrow {
  margin-bottom: 130px;
  margin-right: 50px;
}

.news .cards .left-arrow:hover {
  margin-bottom: 130px;
  margin-right: 50px;
  content: url("../images/left-arrow-yellow.jpg")
}

.news .cards .right-arrow {
  margin-bottom: 130px;
  margin-left: 50px;
}

.news .cards .right-arrow:hover {
  margin-bottom: 130px;
  margin-left: 50px;
  content: url("../images/right-arrow-yellow.jpg")
}

.news .card {
  position: relative;
  height: 300px;
  width: 215px;
  background-color: grey;
  display: inline-block;
  margin-top: 50px;
  border: solid 0.25px #eee;
}

.news .card .info {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #fff;
  text-align: left;
  margin-top: 0px;
}

.news .card .info h6 {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2.5px;
}

.news .card .info p {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 11px;
  line-height: 14px;
  margin-right: 5px
}

.news .card-middle {
   background-color: grey;
   display: inline-block;
   margin-top: 50px;
   margin-left: 10px;
   margin-right: 10px;
 }

.footer {
  height: 150px;
  width: 100%;
  background-color:rgba(42, 42, 42, 1);
  margin-top: 0px;
}

.footer p {
  color: white;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  padding-top: 30px;
  line-height: 22px;
  margin-top: 0px;
}

.footer a {
  text-decoration: none;
  color: #fdd835;
  font-weight: lighter;
  font-size: 12px;
}

.footer a:hover {
  color:white;
}

.logo {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.logo:hover {
  content: url("../images/Logo-white.png")
}

h1 {
  font-weight: lighter;
  text-align: right;
  margin-bottom: 10px;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: lighter;
  font-size: 29px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: right;
  color: #fdd835;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: left;
  color: #fdd835;
}

h4 {
  font-weight: lighter;
  font-size: 29px;
  text-align: left;
  color: #fdd835;
  margin-top: 0px;
}

.clear {
  display: block;
  clear: both;
  height: 0px;
}
